.form-field-no-padding-test .mat-form-field-wrapper{
      margin: -1.25em!important;
}

.form-field-no-padding .mat-form-field-wrapper{
      margin: 0!important;
      padding:0.25em!important;
}

.mat-option {
	font:inherit!important;
}
.mat-select-trigger {
	font:inherit!important;
}