address-table {
	.mat-column-select {
	  flex: 5!important;
	}
	.mat-column-IdentifiantImmeuble {
	  flex: 10!important;
	}
	.mat-column-address {
	  flex: 55!important;
	}
	.mat-column-CodeInseeImmeuble {
	  flex: 10!important;
	}
	.mat-column-NombreLogementsAdresseIPE {
	  flex: 10!important;
	}
	.mat-column-DateDebutAcceptationCmdAcces {
	  flex: 10!important;
	}
}