
app-history {
	.mat-column-email {
	  flex: 20!important;
	}
	.mat-column-adresse {
	  flex: 40!important;
	}
	.mat-column-date {
	  flex: 20!important;
	}
	.mat-column-buildingCode {
	  flex: 20!important;
	}
}