app-store {
	.mat-column-rem {
	  flex: 7!important;
	}
	.mat-column-phdi {
	  flex: 7!important;
	}
	.mat-column-name {
	  flex: 20!important;
	}
	.mat-column-category {
	  flex: 10!important;
	}
	.mat-column-city {
	  flex: 15!important;
	}
	.mat-column-zipCode {
	  flex: 6!important;
	}
	.mat-column-email {
	  flex: 20!important;
	}
	.mat-column-fullName {
	  flex: 15!important;
	}
}